
.profile {
    display: flex;
    align-items: center;
    .profile__image {
        width: 54px;
        height: 54px;
        border-radius: 100%;
        display: flex;
        overflow: hidden;
        margin-right: 12px;
        border: 1px solid #ffffff2e;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .profile__name {
        font-size: 16px;
    }
}