* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
*::-moz-selection {
    color: $color_selection_text;
    background: $color_selection_bg;
}
*::selection {
    color: $color_selection_text;
    background: $color_selection_bg;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
input::-moz-placeholder {
    color: $color_placeholder;
}
input::-webkit-input-placeholder {
    color: $color_placeholder;
}
input:-ms-input-placeholder {
    color: $color_placeholder;
}
input::-ms-input-placeholder {
    color: $color_placeholder;
}
input::placeholder {
    color: $color_placeholder;
}
input {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea,
input {
    font-family: $font;
    font-size: 14px;
    line-height: 14px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section {
    position: relative;
    // z-index: 20;
}
body {
    font-size: 18px;
    font-family: $font;
    line-height: 110%;
    min-width: 320px;
    color: $color_white;
    background-color: $color_bg;
    touch-action: pan-x pan-y;
    scroll-behavior: smooth;
}
#__site_wrapper {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;    
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    // padding-top: $header_height;
    transition: 0.2s;
    @media (max-width: $mobile) {
        // padding-top: $header_height_mob;
    }
}
.container {
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    max-width: $container_width;
    margin: 0 auto;
    @media (max-width: $mobile) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

a {
    text-decoration: none;
    color: $color_primary;
    transition: 0.2s;
    &:focus,
    &:hover {
        opacity: 0.8;
    }
    &.__self {
        // display: inline;
        border-bottom: 1px dashed $color_primary;
    }
}
