@font-face {
	font-family: 'SB Sans Display';
	src: url('../fonts/SBSansDisplay-SemiBold.eot');
	src: local('SB Sans SemiBold'), local('SBSansDisplay-SemiBold'),
		url('../fonts/SBSansDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SBSansDisplay-SemiBold.woff') format('woff'),
		url('../fonts/SBSansDisplay-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SB Sans Display';
	src: url('../fonts/SBSansDisplay-Regular.eot');
	src: local('SB Sans Regular'), local('SBSansDisplay-Regular'),
		url('../fonts/SBSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SBSansDisplay-Regular.woff') format('woff'),
		url('../fonts/SBSansDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}