.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    padding: 16px;
}
.mainTitle__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainTitle {
    font-size: 32px;
    line-height: 32px;
    padding: 12px 0;
}
.copyright {
    opacity: 0.5;
    text-align: center;
    padding: 16px;
}
