$color_blue: #69fff6;
$color_aqua: #24a69e;
$color_green: #08433f;
$color_green_dark: #0f312d;

$color_white: #ffffff;
$color_gray: #252525;
$color_black: #000000;

$color_primary: $color_blue;
$color_primary_hover: lighten($color_primary, 10%);
$color_primary_active: darken($color_primary, 10%);

// $color_border: $color_primary;

$color_selection_text: $color_black;
$color_selection_bg: $color_primary;

$color_placeholder: #b1b1b1;

$color_bg: $color_black;

$header_height: 72px;
$header_height_mob: 56px;

$container_width: 1392px;

$desk: 960px;
$tablet: 820px;
$tablet_min: 769px;
$mobile: 495px;
$mobile_min: 496px;

$font: "SB Sans Display", "Helvetica", sans-serif;

@mixin scrollWithoutScroll() {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}
@mixin scrollWithoutScrollHorizontal() {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-height: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        height: 0px;
        width: 0px;
        background: transparent;
    }
}
@mixin transition($attr: false) {
    @if $attr {
        transition: all 0.2s, $attr 0.2s;
        &:hover {
            transition: all 0.2s, $attr 0.05s;
        }
        &:hover {
            transition: all 0.2s, $attr 0.02s;
        }
    } @else {
        transition: 0.2s;
        &:hover {
            transition: 0.05s;
        }
        &:hover {
            transition: 0.02s;
        }
    }
}

@mixin sideFaders($width: 12px, $color: $color_white, $inset: 0%) {
    &:before,
    &:after {
        content: "";
        display: block;
        top: 0;
        bottom: 0;
        width: $width;
        position: absolute;
        pointer-events: none;
        z-index: 2;
    }
    &:before {
        left: 0;
        background: linear-gradient(to right, $color $inset, transparentize($color, 1));
    }
    &:after {
        right: 0;
        background: linear-gradient(to left, $color $inset, transparentize($color, 1));
    }
}
