@import "vars";
@import "fonts";
@import "base";
@import "typo";





.element {
    width: 300px;
    height: 300px;
    position: relative;
    perspective: 800px;
    transition: transform 0.5s ease;
    background-color: red;
  }
  
  .element:hover {
    // transform: rotateY(45deg);
  }
  
  .element__outer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    background-color: blue;
  }
  
  .element:hover .element__outer {
    transform: rotateY(-15deg);
  }
  
  .element__inner {
    width: 100%;
    height: 100%;
    position: relative;
    // background-color: blue;
    background-color: red;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    transform: translateZ(20px);
  }
  
  .element:hover .element__inner {
    transform: translateZ(40px) rotateY(-15deg);
  }
  
  .element__box {
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateZ(20px);
    color: red;
  }