@import "../../css//vars";

.slide {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    padding: 16px;
    margin: 16px 0;
    border-radius: 20px;
    background-color: #111111;
    border: 1px solid #2e2e2e;
    box-shadow: 0 4px 20px #1a1a1a;
    position: relative;
    .blury {
        content: '';
        display: block;
        position: absolute;
        // z-index: -1;
        width: 32vw;
        height: 32vw;
        filter: blur(15vw);
        top: -15vw;
        right: -15vw;
    }
    // min-height: 100vh;
    .row {
        display: flex;
        margin: -4px;
        &>*{
            margin: 4px;
        }
    }
    .col {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .content {
        & > * {
            &:not(:first-child) {
                margin-top: 1em;
            }
        }
    }
    .top {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        min-height: 56px;
        &>*{
            &:not(:first-child){
                margin-left: 20px;
            }
        }
    }
    .images {
        margin-bottom: 1em;
        // mask-image: linear-gradient(to right, 0 transparent, 24px black, calc(100% - 24px) black, transparent);
        mask-image: linear-gradient(to right, transparent, black 4vw, black calc(100% - 4vw), transparent);
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        // float: left;

        .swiper-slide-active {
            .imageBox {
                transform: none;
                opacity: 1;
            }
        }
        .imageBox {
            transform: scale(0.8);
            transition: 0.2s;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.4;
            // width: 100%;
            // width: 50vw;
            // max-height: ;
            &.__image {
            }
            &.__video {
            }
            &.__v {
                height: 50vh;
                max-height: 400px;
                img,
                video {
                    // aspect-ratio: 9/16;
                }
            }
            &.__h {
                // width: 50vw;
                max-width: 50vw;
                height: 40vw;
                max-height: 400px;
                img,
                video {
                    // aspect-ratio: 16/9;
                }
            }
        }
        img,
        video {
            -webkit-user-drag: none;
            // user-select: none;
            max-width: 100%;
            max-height: 100%;
            border-radius: 20px;
            object-fit: contain;
        }
    }
    .logo {
        padding: 8px;
        border-radius: 12px;
        backdrop-filter: blur(200px);
        // background: #34343424;
        box-shadow: 0 0 8px #00000027;
        display: flex;
        align-items: center;
        &.__dark {
            background-color: #ffffff2e;
        }
        &>*{
            &:not(:first-child){
                margin-left: 16px;
            }
        }
        img {
            width: 100%;
            height: 100%;
            max-width: 140px;
            max-height: 40px;
        }
    }
    .top_box {

    }
    .available {
        font-size: 0.7em;
        border: 2px dashed;
        border-radius: 4px;
        font-weight: 600;
        line-height: 1;
        padding: 4px 8px;
        &.__opened {
            color: yellowgreen
        }
        &.__closed {
            color: red;
        }
    }
    .title {
        font-size: 1.2em;
        line-height: 1;
    }
    .year {
        font-size: 0.6em;
        opacity: 0.5;
    }
    .description {
        font-size: 0.8em;
        line-height: 1em;
    }
    .divider {
        flex-grow: 1;
    }
    .box_body {
        list-style: none;
        font-size: 1em;
        line-height: 1.4em;
        li {
            padding-left: 1em;
            position: relative;
            &:before {
                content: "";
                width: 0.6em;
                height: 1px;
                display: block;
                position: absolute;
                left: 0;
                top: 0.6em;
                background-color: $color_white;
            }
        }
    }
    .urls {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        &>* {
            max-width: 60%;
            text-overflow: ellipsis;
            overflow: hidden; 
            white-space: nowrap;
        }
    }
    .box {
        background-color: #212121;
        padding: 16px;
        border-radius: 16px;
        width: 100%;
        flex-grow: 1;
        .box_title {
            font-size: 1.2em;
            margin-bottom: 0.5em;
            border-bottom: 1px solid #606060;
            padding-bottom: 12px;

        }
        .box_body {
            font-size: 0.8em;
        }
    }
    .bot {
        margin-top: 1em;
    }
}
