.slider {
    width: 100vw;
    opacity: 0;
    transform: translateX(50%);
    transition: .4s .4s;
    &.__ready {
        transform: none;
        opacity: 1;
    }
    .swiper {
        .swiper-slide {
            width: auto;
            display: flex;
            align-items: center;
            height: auto;
        }
    }
}